@import url('normalize.css');

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);

  /*Neutral*/
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);

  /* font family  */

  --font-family: 'Plus Jakarta Sans', system-ui;
}

body {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  max-width: 100vw;
  font-size: 1rem;
  font-family: var(--font-family);
}

.header_container,
.main_container,
.footer_container {
  margin: 0 1rem 1rem 1rem;
}

/* header_info_contaeiner */
.header_info_container,
.header_fieldset_container {
  margin-left: 0.1rem;
}
.header_title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.header_button {
  background-color: white;
  border: none;
  text-decoration: underline;
  color: var(--Slate-700);
  font-size: 1.1rem;
  margin: 7px 0 2rem 0;
}

/* header_fieldset_container */
.header_fieldset {
  border: none;
  margin-left: -0.9rem;
  display: flex;
  flex-direction: column;
}

/* labels */

.amount_label,
.team_label,
.interest_rate_label,
.main_info {
  color: var(--Slate-700);
  font-weight: 500;
  font-size: 1rem;
  margin: 1.5rem 0 0.5rem 0;
}

/* inputs */

.amount_input,
.team_input,
.input_interest_rate {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem 0 0.5rem 0;
}

/* placeholders */

.amount_input::placeholder {
  float: left;
}
::placeholder {
  color: var(--Slate-900);
  background-color: var(--Slate-100);
  max-width: 10vw;
  font-size: 1.2rem;
  padding: 0.9rem;
  font-weight: 500;
  opacity: 0.9;
  pointer-events: none;
}

.team_input::placeholder,
.input_interest_rate::placeholder {
  display: flex;
  max-width: 100vw;
  float: right;
}

/* Main container */

.main_info {
  margin: 0 0 0.5rem;
}

.main_form {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 1rem 0;
}

.repayment,
.interest {
  padding: 0.7rem;
  border: 1px solid black;
  border-radius: 5px;
}
.repayment {
  margin-bottom: 1rem;
}

.main_lable_repayment,
.main_label_interest {
  font-weight: 700;
  padding: 0.5rem;
}

.main_button_container {
  margin-right: 0.5rem;
}
.main_button {
  width: 98%;
  padding: 0.9rem;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--lime);
  font-weight: 800;
  cursor: pointer;
}

/* footer container */

.footer_container {
  background-color: var(--Slate-900);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer_img {
  padding: 0.5rem;
}

.footer_title {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--Slate-100);
}

.footer_description {
  text-align: center;
  color: var(--Slate-300);
}
